.galleryMain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryCardContainer {
    display: flex;
    justify-content: space-between;
    gap: 10vh;
    flex-wrap: wrap;
    width: 66.6%;
    padding: 0 0 5vh 0;
}