@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&family=Crafty+Girls&display=swap');


.getInTouch {
    background-color: transparent;;
    color: #737373;
    border: solid .15vw #737373;
    padding: .75rem 1.5rem;
    font-family: Archivo;
    font-size: .75rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .getInTouch {
        width: max-content;
    }
}