@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.contactForm {
    margin-bottom: 18vh;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    background-color: #f5f3ec;
    padding: 1rem;
    align-self: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-radius: .5vw; */
}

.input {
    width: 25vw;
    height: 5.5vh;
}

.textArea {
    height: 20vh;
    resize: none;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.contactSubmitBtn {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .5rem;
    border: solid .15vw #737373;
    background-color: #FAF9F6;
    color: #737373;
    cursor: pointer;
    transition: color 0.3s ease;
}

.contactSubmitBtn:hover {
    color:  #C8C8C8;
}