.carouselContainer {
    height: 75%;
    width: 75%;
    background-color: lightgray;
    position: relative;
}

#leftArrow, #rightArrow {
    font-size: 6vw;
    color: #303030;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#leftArrow {
    left: 0;
}

#rightArrow {
    right: 0;
}

.carouselContainer:hover #leftArrow,
.carouselContainer:hover #rightArrow {
    opacity: 1;
}