.contactInfoContainer {
    background-color: #f5f3ec;
    height: 66.6vh;
    width: 25vw;
    position: absolute;
    left: 0;
    margin-bottom: 15vh;
    margin-left: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-radius: .5vw; */
}

#emailIcon {
    color: #737373;
}

.contactGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75vw;
    height: 25%;
}

/* .emailGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 2vh 0 2vh 0;
    width: 100%;
} */

.emailP {
    margin: 0;
    font-size: 1rem;
}

#copyIcon {
    color: #737373;
    cursor: pointer;
    transition: color 0.2s ease;
}

#copyIcon:hover {
    color: #C8C8C8;
}