@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&family=Crafty+Girls&display=swap');


.footer {
    height: 13.5rem;
    background-color: #FAF9F6;
    font-weight: 300;
    display: flex;
    align-items: center;
    /* border: solid .1vw gray; */
}

.footerOther {
    height: 100%;
    width: 25%;
    /* background-color: palegreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerOther2 {
    height: 100%;
    width: 50%;
    /* background-color: paleturquoise; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerContact {
    /* background-color: palegoldenrod; */
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 5vh; */
}

.footerEmailP {
    font-family: Archivo;
    color: #737373;
    font-size: .75rem;
}

.backToTopContainer, .copyrightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyrightContainer {
    padding: 2vh;
}

.backToTopContainer {
    padding: 1.5vh;
}

.backToTop, .copyright {
    font-size: .75rem;
    font-family: Archivo;
    color: #737373;
}

.backToTop {
    padding: .5rem;
    cursor: pointer;
}

.footerEmailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aquamarine; */
    height: 75%;
    width: 50%;
}

.footerLink {
    color: #737373;
    font-size: .75rem;
    font-family: Archivo;
    cursor: pointer;
}

.socialsContainer {
    /* background-color: palevioletred; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#footerEmailIcon, #footerInstaIcon, #footerLinkedInIcon {
    color: #737373;
}

#footerInstaIcon, #footerLinkedInIcon {
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto;
        gap: 4rem;
    }

    .footerOther{
        width: 25rem;
    }

    .footerOther2 {
        order: 1;
    }

    .footerLinks {
        flex-direction: row;
        gap: 4rem;
    }

    .footerLink {
        flex-direction: row;
        width: 100%;
    }

    .footerContact {
        gap: 2rem;
    }
}