@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


.biographyMain {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* background-color: palegoldenrod; */
}

.picContainer, .bioText {
    /* min-height: 100vh; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    color: #737373;
    padding: 9vh 0 9vh 0;
}

.bioBody {
    padding: 0 2.5vw 0 2.5vw;
}

.bioText {
    /* background-color: palevioletred; */
}

.bioHeading {
    margin-top: -1.5vh;
    padding-bottom: 1vh;
}

.picContainer {
    /* background-color: paleturquoise; */
}