@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


.biographyMain {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-bottom: 4rem;
    gap: 4rem;
}

.picAndBioContainer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.picContainer, .bioText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    color: #737373;
    /*padding: 9vh 0 9vh 0;*/
}

.picContainer {
    width: 33%;
    gap: 4rem;
}

.bioText {
    width: 67%;
    gap: 1.5rem;
    padding: 0 4rem;
}

.bioHeading {
    font-size: 2.5rem;
    font-weight: 400;
}

.bioBody {
    font-weight: 300;
    line-height: 1.8;
    font-size: 1.1rem;
    font-family: Montserrat;
    color: #737373;
}

.showsContainer {
    display: flex;

}

.soloShows, .groupShows {
    padding: 0 4rem; 
    width: 50%;
    justify-content: center;
    font-family: Montserrat;
    color: #737373;
    font-weight: 300;
    line-height: 1.8;
    font-size: 1.1rem;
}

.showsUl {
    border-left: 2px solid #e0ddd7;
}

.showsText {
    margin: 2rem 0;
}

.showsSubHeading {
    font-weight: 400;
    font-size: 1.2rem;
}

.bioBodyBottomContainer {
    display: flex;
    justify-content: center;
}